// Colors variabless	
$color-gradient-prim: #c6363c;	// red
$color-gradient-sec: #0c4076;	// blue
$color-gradient-third: #ffffff;	// white
$color-text: #777;      // gray
$color-shadow: #000000; // black
$color-white: #ffffff;	// white

$color-gray-1: #f7f7f7;
$color-gray-2: #eeeeee;
$color-gray-dark: #222;

// Fonts variables
$font-body: 'Raleway', sans-serif;
$font-headings: 'Lato', sans-serif;

$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$vertical-space: 6rem;
$vertical-space-small: 4rem;
$horizontal-space: 6rem;