/*** Feature box ***/
.feature-box {
	background-color: rgba($color-white, .7);
	font-size: 1.5rem;
	padding: 2.5rem;
	text-align: center;
	border-radius: .5rem;
	box-shadow: 0 1.5rem 4rem rgba($color-shadow, .15);
	transition: transform .3s;

	@include respond(tab-port) {
		padding: 2rem;
	}

	&__icon {
		font-size: 6rem;
		margin-bottom: 1.5rem;
		display: inline-block;
		background-image: linear-gradient(to right, 
			rgba($color-gradient-prim, 0.8), 
			rgba($color-gradient-sec, 0.8));
		-webkit-background-clip: text;
		color: transparent;	

		@include respond(tab-port) {
			margin-bottom: 0;
		}
	}

	&:hover {
		transform: translateY(1.5rem) scale(1.2);
	}

	@include respond(tab-port) {
		&:hover {
			transform: none;
		}	
	}
}