/*** Browser reset ***/
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	// All rem-s will scalle up or down according to this font size
	// 1rem = 10px ---> 10px/16px = 62.5%
	font-size: 62.5%;

	@include respond(tab-land) {
		font-size: 56.25%; // 1rem = 9px ---> 9px/16px = 56.25%
	}

	@include respond(tab-port) {
		font-size: 50%; // 1rem = 8px ---> 8px/16px = 50%
	}

	@include respond(big-desk) {
		font-size: 75%; // 1rem = 12px ---> 12px/16px = 75%
	}
}

body {
	border-sizing: border-box;
	padding: 2rem;

	@include respond(tab-port) {
		padding: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-headings;
}
